body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: grid;
}
#grid {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(4,1fr);
  align-self: start;
  justify-self: center;
  text-align: center;
  grid-gap: 5vmax;
}
.box {
 width: 8vmax;
 height: 8vmax;
 align-self: center;
 justify-self: center;
  border: 1px solid black;
  line-height: 8vmax;
  transform: rotate(90deg);
  background-color: yellow;
  cursor: pointer;
}
#head {
  font-size: 4.5vmax;
  height: 5vmax;
  align-self: center;
  justify-self: center;
  font-family: 'Press Start 2P', cursive;
}
#smileFace {
  font-size: 4.5vmax;
  font-family: 'Coiny', cursive;
  color: black;
}